
@model   RegisterViewModel

<h3> Registration Page</h3>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register" asp-controller="Account">
            <div class="form-group">
                <div asp-validation-summary="All" class="text-danger"></div>
                <label asp-for="@Model.FirstName" class="control-label"></label>
                <input asp-for="@Model.FirstName" class="form-control" />
                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.LastName" class="control-label"></label>
                <input asp-for="@Model.LastName" class="form-control" />
                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Email" class="control-label"></label>
                <input asp-for="@Model.Email" class="form-control" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Password" class="control-label"></label>
                <input asp-for="@Model.Password" class="form-control" />
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ConfirmPassword" class="control-label"></label>
                <input asp-for="@Model.ConfirmPassword" class="form-control" />
                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.DrivingLicense" class="control-label"></label>
                <input asp-for="@Model.DrivingLicense" class="form-control" />
                <span asp-validation-for="@Model.DrivingLicense" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary"/>
            </div>
        </form>
    </div>
    </div>
