@model ProductListViewModel

@*@if (User.IsInRole("Administrator"))
{*@
    <a asp-action="Create" asp-controller="Home" class="btn btn-primary">
        Add New Product
    </a>
@*}*@

<a asp-action="AboutUs" asp-controller="Home" class="btn btn-primary">
    Go to About Us
</a>

@foreach (var p in Model.Products)
{
    <div class="card card-outline-primary m-1 p-1">
        <div class="bg-faded p-1">
            <h4>
                <a asp-action="details" asp-controller="home"
                   asp-route-id="@p.ProductId"> @p.Name</a>
                <span class="badge badge-pill badge-primary" style="float:right">
                    <small>@p.Price.ToString("c")</small>
                </span>
            </h4>
            @*@if (User.IsInRole("Administrator"))
            {*@
                <a asp-action="Delete" asp-controller="Home" asp-route-id="@p.ProductId"
                   class="btn btn-danger">Delete</a>
                <a asp-action="Update" asp-controller="Home" asp-route-id="@p.ProductId"
                   class="btn btn-warning">Update</a>
            @*}*@

        </div>
        <div class="card-text p-1">@p.Description</div>
    </div>
}



<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"></div>
